html {
	background:#FFFFFF url("../images/background.jpg") repeat center top scroll;
    font-family: Georgia, sans-serif;
}
body {
    justify-content: center;
}
div {

}
canvas {
    border: 50px solid black;
}

#slideshow-holder{
    position: relative;
    top: 0%;
    left: 0%;
    display: block;
    text-align: center;
    margin-top: 50px;
}
#login {
    position: relative;
    top: 80px;
    left: 0%;
    display: block;
    text-align: center;
}
#signup {
    position: relative;
    top: 100px;
    left: 0%;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}