html {
	background:#FFFFFF url("../images/background.jpg") repeat center top scroll;
    font-family: Georgia, sans-serif;
}

body {

}

canvas {
    position: absolute;
    /*transform: translate(-50%,-50%);*/
    margin-right: -50%;
    top: 50%;
    left: 50%;

    border: 50px solid black;
}

#login {
    position: relative;
    top: 45px;
    left: 50%;
    
    display: block;
    margin:auto;
    /*transform: translate(-50%,-50%);
    margin-right: -50%;*/

}

#signup {
    position: relative;
    top: 45px;
    left: 50%;
    display: block;
    margin: auto;
        
}
